<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

    <!-- A -->
        <a href="{{ path('roomWithoutBooks') }}">Room</a>
    <!-- B -->

    <!-- C -->
        <li>
            <a href="{{ path('curiosity') }}">Curiosity</a>
        </li>
    <!-- D -->
        <li>
            <a href="{{ path('careless') }}">Careless</a>
        </li>
        
    <!-- E -->
    <li>
            <a href="{{ path('egg') }}">Egg</a>
    </li>

    <!-- F -->
    <li>
            <a href="{{ path('Fairness') }}">Fairness</a>
        </li>
        <li>
            <a href="{{ path('Fire') }}">Fire</a>
        </li>
    <!-- G -->
    <li>
            <a href="{{ path('givehim') }}">Give him...</a>
        </li>
    <!-- H -->
      <li>
            <a href="{{ path('prevention') }}">Prevention</a>
        </li>
             <li>
            <a href="{{ path('pride') }}">Pride</a>
        </li>
    <!-- I -->
    <li>
        <a href="{{ path('insanity') }}">Insanity...</a>
    </li>
    <li>
        <a href="{{ path('if-a-job') }}">If a job...</a>
    </li>

    <!-- J -->
<a href="{{ path('job') }}">If a job is worth doing...</a>
    <!-- K -->
        <li>
            <a href="{{ path('keep') }}">Keep</a>
        </li>
       <li>
            <a href="{{ path('kindness') }}">kindness</a>
        </li>

    <!-- L -->
    <li>
            <a href="{{ path('Love') }}">Love</a>
    </li>
    
    <li>
            <a href="{{ path('Learning') }}">Learning</a>
    </li>
   
    
    <!-- M -->
    <li>
        <a href="{{ path('myhouse') }}">My house...</a>
    </li>
    <li>
        <a href="{{ path('thunder') }}">Thunder...</a>
    </li>
    <!-- N -->
    <li>
        <a href="{{ path('never') }}">Never...</a>
    </li>
    <li>
        <a href="{{ path('no') }}">No...</a>
    </li>
    <!-- O -->

    <!-- P -->

    <!-- Q -->
    <li>
    <a href="{{ path('Quickly') }}">Quickly..</a>
    </li>
    <li>
    <a href="{{ path('Question') }}">Question..</a>
    </li>
    <!-- R -->
    <li>
            <a href="{{ path('rat') }}">rat</a>
    </li>
    <li>
            <a href="{{ path('reap') }}">reap</a>
    </li>
    <!-- S -->

    <!-- T -->

    <!-- U -->

    <!-- V -->

    <!-- W -->

    <!-- X -->

    <!-- Y -->

    <!-- Z -->

    {% block body %}{% endblock %}

    <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
